/* Moem section*/
/* lets start with mobile design first */
section.m_electronic {
  margin: 0 0 100px;
}

section.m_electronic div.head {
  text-align: center;
  margin: 20px 0 40px;
  font-family: "Lobster";
}

section.m_electronic div.cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

section.m_electronic div.cards div.card {
  font-family: "Diphylleia";
  width: 93%;
  height: 500px;
  min-width: 300px;
  margin: 5px auto 50px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.6);
  border-radius: 0.3em;
  cursor: pointer;

  display: flex;
  flex-direction: column;
}

section.m_electronic div.cards div.card div.img {
  background-color: red;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  margin-bottom: 0;
}

section.m_electronic div.cards div.card div.img1 {
  background-image: url("myProjects/assets/accessories.jpg");
}

section.m_electronic div.cards div.card div.img2 {
  background-image: url("assets/domes.jpg");
}

section.m_electronic div.cards div.card div.img3 {
  background-image: url("assets/linees.jpg");
}

section.m_electronic div.cards div.card div.img4 {
  background-image: url("assets/sub.jpg");
}

section.m_electronic div.cards div.card div.img5 {
  background-image: url("assets/demolition.jpg");
}

section.m_electronic div.cards div.card div.img6 {
  background-image: url("assets/design.jpg");
}

section.m_electronic div.cards div.card div.content {
  padding-top: 0.4em;
  padding: 15px;
  transition: 0.25s ease;
}

section.m_electronic div.cards div.card div.content p.title {
  /* color: red; */
  font-family: "Poppins";
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 0;
  color: brown;
}

section.m_electronic div.cards div.card div.content:hover {
  background-color: rgb(0, 0, 0, 1);
  color: #fff;
  cursor: copy;
}

section.m_electronic div.cards div.card div.content div.link {
  margin-top: 1em;
  text-align: center;
}

section.m_electronic div.cards div.card div.content div.link a {
  text-decoration: none;
  color: white;
}

section.m_electronic div.cards div.card div.content div.link a:hover {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 720px) {
  section.m_electronic div.cards {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }

  section.m_electronic div.cards div.card {
    width: 350px;
    height: 500px;
    margin: 5px auto 5px;
  }

  section.m_electronic div.cards div.card div.content {
    height: 300px;
  }
}

/* moem section END */

/* start of other service part */
div#head-philes {
  font-family: "Lobster";
  text-align: center;
  margin-bottom: 30px;
}

section.cards {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 10px 0 10px;
}

section.cards div.card {
  font-family: "Diphylleia";
  /* background-color: green; */
  /* width: 350px; */
  width: 93%;
  min-width: 300px;
  height: 500px;

  /* padding: 10px; */

  margin: 20px auto 50px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.6);
  border-radius: 0.3em;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  /* transition: 5s ease-in; */
  /* overflow: scroll; */
}

section.cards div.card div.img {
  background-color: red;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}

section.cards div.card div.img1 {
  background-image: url("assets/bridges.jpg");
}

section.cards div.card div.img2 {
  background-image: url("assets/ways.jpg");
}

section.cards div.card div.img3 {
  background-image: url("assets/industrial.jpg");
}

section.cards div.card div.img4 {
  background-image: url("assets/finish.jpg");
}

section.cards div.card div.img5 {
  background-image: url("assets/consut.jpg");
}

section.cards div.card div.img6 {
  background-image: url("assets/archite.jpg");
}

section.cards div.card div.content {
  padding-top: 0.4em;
  padding: 20px;
  transition: 0.25s ease;
  height: 100vh;
}

section.cards div.card div.content p.title {
  font-family: "Poppins";
  font-size: 1em;
  font-weight: bold;
  color: brown;
}

section.cards div.card div.content:hover {
  background-color: rgb(0, 0, 0, 1);
  color: #fff;
  cursor: copy;
}

@media screen and (min-width: 720px) {
  section.cards {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }

  section.cards div.card {
    width: 350px;
    height: 500px;
    margin: 5px auto 5px;
  }

  section.cards div.card div.content {
    height: 300px;
  }
}

/*other services part end here*/

/* Resources Section */
section.resources {
  padding: 40px 0 10px;
  /* background-color: #ffffff; */
  background-color: #fff;
  margin-bottom: 70px;
}

.res-contain {
  background-color: transparent;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.resources h2 {
  font-family: "Lobster";
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
  /* color: #333333; */
  color: black;
}

.resources .container {
  max-width: 1200px;
  margin: 0 auto;
}

.resource-categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

.category {
  width: 98%;
  /* background-color: blue; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.4em;
  flex: 0 0 31%;
  margin-bottom: 50px;
  border: 1px solid #e0e0e0;
  padding: 20px;
  text-align: center;
  background-color: white;
}

.category h3 {
  font-family: "Lobster";
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333333;
  /* color: #fff; */
}

.category ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.category li {
  margin-bottom: 10px;
}

.category li a {
  font-size: 16px;
  line-height: 24px;
  color: blue;
  /* color: #fff; */
  text-decoration: none;
  transition: color 0.2s ease;
}

.category li a:hover {
  color: #333333;
  /* color: #000000; */
}

.category .where-to-get {
  font-size: 14px;
  line-height: 20px;
  color: #999999;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .resource-categories {
    flex-direction: column;
  }

  .category {
    flex: 0 0 100%;
    margin-bottom: 30px;
  }
}

.form-cont {
  padding-bottom: 5cm;
}

/* style for text blinking */
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blinking-link {
  animation: blink 2s infinite;
}

/* end of style for text blinking */

.tech-assistance {
  background-color: #fff;
}

.integration {
  background-color: #fff;
}

.customer {
  background-color: #fff;
}

.read-more {
  padding: 20px;
  border-radius: 0.4em;
  background-color: #fff;
  color: black;
  text-align: center;
}

/* Resources Section End */
