/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.container {
  font-family: Arial, sans-serif;
  background-color: #fff;
  padding: 20px;
  padding-top: 12vh;
}

h4 {
  text-align: center;
  color: brown;
}
/* Main content styles */
.service-details {
  padding: 40px 0;
  padding-top: 5cm;
}

.service-description {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.back-link {
  text-align: center;
  margin-top: 20px;
}

/* Image styles */
.img-fluid {
  height: auto;
  display: block;
  margin: 0 auto;
}
#equip1 {
  width: 60vh;
  height: 60vh;
}
#equip2 {
  width: 60vh;
  height: 60vh;
}
